*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: rgb(4, 4, 152);
    height: 100px;
}
.logo{
    width: 20%;
    height: 100%px;
    float:left;
}
.menu{
    width: 60%;
    height: 100px;
    float: left;
    text-align: center;
}
.login{
    width: 20%;
    height: 100px;
    float:right;
}
header a{
    color: white;
    font-size: larger;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 45px;
    margin-right: 16px;
}